@import url("fonts.css");
@import url("reset.css");

body {
	min-height: 100vh;
	font-family: "Mirtha Display", sans-serif;
	background-color: #fcf6ee;
	color: #704a1b;
	padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
		env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}

body.home {
	background-image: url("../assets/images/mas_palou_backdrop.jpg");
	background-size: cover;
	background-position: center;
	color: #133244;
	padding-bottom: 822px;
}

body.home nav a {
	color: #133244;
}

header {
	padding: 120px 20px 56px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 0 20px;
}

nav a {
	font-size: 28px;
	letter-spacing: -0.56px;
	color: #704a1b;
	text-decoration: none;
}

.container {
	max-width: 840px;
	margin: auto;
	padding: 0 20px;
}

.title-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	margin-bottom: 56px;
}

.page-title {
	font-size: 60px;
	line-height: normal;
	text-align: center;
	font-weight: 400;
}

.underline {
	display: block;
	width: 100px;
	height: 1px;
	background-color: rgba(114, 74, 29, 0.2);
}

.subtitle {
	font-size: 50px;
	font-weight: 400;
}

.subtitle-underline {
	display: block;
	width: 100%;
	max-width: 360px;
	height: 1px;
	background-color: rgba(114, 74, 29, 0.2);
	margin-bottom: 20px;
}

.text {
	font-size: 16px;
	line-height: 1.38;
	color: rgba(112, 74, 27, 0.7);
	font-family: "To Record", sans-serif;
	margin-bottom: 20px;
}

.text:last-of-type {
	margin-bottom: 0;
}

.button {
	border: none;
	text-decoration: none;
	height: 56px;
	color: #f8f0e6;
	background-color: #704a1b;
	text-align: center;
	font-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.button:hover {
	background-color: #461515;
}

.button:disabled {
	background-color: #dadcd7;
	cursor: default;
}

.loader {
	width: 32px;
	height: 32px;
	border: 3px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.link {
	font-size: 24px;
	line-height: 40px;
	text-decoration: underline;
	color: rgba(112, 74, 27, 0.7);
}

section {
	margin-bottom: 60px;
}

section:last-of-type {
	margin-bottom: 0;
}

footer {
	padding: 60px 20px 120px;
}

.footer-image {
	width: 314px;
	max-width: 100%;
	margin: auto;
}

input[type="text"],
input[type="email"] {
	font-family: "To Record", sans-serif;
	height: 56px;
	padding: 0 20px;
	font-size: 16px;
	border: none;
}

input[type="text"]:focus-visible,
input[type="email"]:focus-visible {
	outline: 1px solid #704a1b;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
	color: rgba(112, 74, 27, 0.5);
}

.radio-button {
	flex: 1;
	height: 76px;
	position: relative;
	border: 1px solid transparent;
	cursor: pointer;
}

.radio-button:hover {
	border-color: #704a1b;
}

.radio-button > label {
	font-size: 16px;
	font-family: "To Record", sans-serif;
	line-height: 1.25;
	letter-spacing: 0.16px;
	color: #461515;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: max-content;
	max-width: 90%;
	text-align: center;
	cursor: pointer;
}

input[type="radio"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(255, 255, 255, 0.7);
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

input[type="radio"]:checked {
	border: 1px solid #704a1b;
	background-color: #fff;
}

input[type="radio"]:checked + label {
	color: #704a1b;
}

@media screen and (max-width: 768px) {
	body.home {
		padding-bottom: 722px;
	}

	header {
		padding: 30px 20px;
	}

	.title-wrapper {
		margin-bottom: 40px;
	}

	.underline {
		width: 84px;
	}

	footer {
		padding: 30px 10px 35px;
	}
}

/* HOME PAGE */
.logo {
	margin: auto;
	margin-bottom: 40px;
}

.venue {
	margin-bottom: 36px;
}

.venue-dates {
	position: relative;
	margin-bottom: 36px;
}

.venue-dates img {
	max-width: 281px;
	margin: auto;
}

.venue-dates .dates {
	position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 0 20px;
	width: 100%;
	max-width: 600px;
}

.venue-dates .dates p {
	text-align: center;
	font-size: 38.4px;
}

.venue-dates .dates p:nth-child(2) {
	color: #dadcd7;
}

.venue-dates .dates p:nth-child(2)::after {
	content: "";
	display: block;
	width: 98px;
	height: 1px;
	background-color: #dadcd7;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.venue-logo {
	margin: auto;
	margin-bottom: 63px;
}

.details {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 50px;
	text-align: center;
	margin-bottom: 85px;
	padding: 0 20px;
}

.details .detail {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.detail .hidden {
	visibility: hidden;
	height: 18px;
}

.detail .divider {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.detail h6 {
	font-family: "To Record", sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3.6px;
	margin-bottom: 12px;
}

.detail p {
	font-size: 45px;
	font-weight: 400;
	letter-spacing: -0.9px;
}

.more-info {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	overflow: hidden;
}

.more-info p {
	color: #f9f0e3;
	text-align: center;
	font-size: 99.728px;
	white-space: nowrap;
}

.rsvp {
	display: block;
	text-decoration: none;
	color: #f9f0e3;
	text-align: center;
	font-family: "TO Record";
	font-size: 12px;
	line-height: 30px;
	letter-spacing: 3.6px;
	position: relative;
	margin-top: 80px;
}

.rsvp::after {
	content: "";
	display: block;
	width: 226px;
	height: 1px;
	background-color: #f9f0e3;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.3s;
}

.rsvp:hover::after {
	width: 0;
}

@media screen and (max-width: 768px) {
	.venue-dates .dates {
		padding: 0 10px;
		max-width: 280px;
		gap: 8px;
	}

	.venue-dates .dates p {
		font-size: 32px;
		color: #dadcd7;
	}

	.venue-dates .dates p:nth-child(2)::after {
		width: 78px;
	}

	.details {
		gap: 8px;
	}

	.details p {
		font-size: 32px;
	}

	.more-info {
		gap: 8px;
	}

	.more-info p {
		font-size: 40px;
	}

	.more-info img {
		width: 20px;
	}
}

/* ITINERARY PAGE */
.itinerary-item {
	display: flex;
	align-items: flex-start;
	gap: 60px;
}

.itinerary-details {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.itinerary-detail {
	display: flex;
	align-items: flex-start;
	line-height: normal;
	gap: 10px;
}

.itinerary-label {
	flex: 1;
	color: #461515;
	font-size: 14px;
	font-family: "To Record", sans-serif;
	font-weight: 400;
	letter-spacing: 1.12px;
}

.itinerary-value-wrapper {
	flex: 1;
}

.itinerary-value {
	flex: 1;
	font-size: 38px;
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 6px;
	white-space: nowrap;
}

.itinerary-value sup {
	font-size: 20px;
}

.itinerary-details-block .itinerary-label {
	margin-bottom: 10px;
}

.map-link {
	display: block;
	color: rgba(112, 74, 27, 0.7);
	font-size: 16px;
	font-family: "To Record", sans-serif;
	text-decoration: underline;
	margin-top: 20px;
}

.itinerary-image {
	max-width: 100%;
	width: 367px;
}

@media screen and (max-width: 768px) {
	.itinerary-item {
		flex-direction: column;
		gap: 40px;
	}

	.itinerary-image {
		display: none;
	}
}

/* TRAVEL PAGE */
.travel-container {
	display: flex;
	align-items: flex-start;
	gap: 80px;
}

.travel-column {
	flex: 1;
}

.travel-column > .button {
	margin-top: 20px;
}

.travel-links {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	.travel-container {
		flex-direction: column;
		gap: 40px;
	}
}

/* RSVP PAGE */
.rsvp-form {
	display: flex;
	flex-direction: column;
	gap: 26px;
	max-width: 446px;
	margin: auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-group > label {
	font-size: 14px;
	font-family: "To Record", sans-serif;
	font-weight: 400;
	letter-spacing: 1.12px;
	color: #461515;
}

.form-group > label sup {
	font-size: 8px;
}

.radio-group {
	display: flex;
	gap: 12px;
}

.success-message {
	font-family: "To Record", sans-serif;
	font-size: 24px;
	color: #461515;
	text-align: center;
}

.error-message {
	font-family: "To Record", sans-serif;
	font-size: 18px;
	color: #ff0000;
	text-align: center;
	margin-top: 20px;
}

.hide {
	display: none;
}
